@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container text-center">
        <h1>Edit My Profile</h1>
    </div>
</div>

<div class="container-fluid bg-3 text-left">
    <div class="row">
        <div class="col-md-4">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive">
            <br />
            <span class="btn btn-link btn-file"> <input type="file" id="upload-img"></span>
        </div>
        <div class="col-md-12">
            <hr>
            <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
        </div>
        <div class="col-md-4 ">
            <div class="form-group">
                <label for="user_last_name">Account name</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>

            <div class="form-group">
                <label for="user_last_name">Name</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>

            <div class="form-group">
                <label for="user_last_name">Email</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>

            <div class="form-group">
                <label for="user_last_name">Phone</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>

            <div class="form-group">
                <label for="user_last_name">Major</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>

            <div class="form-group">
                <label for="user_last_name">Year</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>

            <div class="form-group">
                <label for="user_last_name">Expected graduation</label>
                <input type="text" class="form-control" id="user_last_name">
            </div>
        </div>

    </div>

</div>