@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SCAM</h1>
    <h2>Spartan Course Analysis and Matching </h2>
</div>

<div class="row">
    <label for="FriendSearch">
        Search your friend's name here
        <input id="Friend_Search" list="friends">
        <datalist id="friends">
            <option value="Delia Harris"></option>
            <option value="Beverly Roy"></option>
            <option value="Eleanor Rivera"></option>
            <option value="Jody Mendoza"></option>
        </datalist>
    </label>
    @Html.ActionLink("GO!", "Profile_Friend", "Home", new { @class = "btn btn-primary" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desired possible courses</h2>
        <p>
            SE 133<br />
            ENGR 100W
        </p>
    </div>
    <div class="col-md-4">
        <h2>Current courses</h2>
        <p>
            SE 131<br />
            CS 149
        </p>
    </div>
    <div class="col-md-4">
        <h2>Friends List</h2>
        <p>
            Alan <br />
            Danny<br />
            Matt <br />
            Khoa
        </p>
    </div>
 </div>
    