@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SCAM</h1>
    <h2>Spartan Course Analysis and Matching </h2>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desired possible courses</h2>
        <p>
            SE 133<br />
            ENGR 100W
        </p>
    </div>
    <div class="col-md-4">
        <h2>Current courses</h2>
        <p>
            SE 131<br />
            CS 149
        </p>
    </div>
    <div class="col-md-4">
        <h2>Friends List</h2>
        <p>
            Alan <br />
            Danny<br />
            Matt <br />
            Khoa 
        </p>
    </div>
</div>
    