@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container text-center">
        <h1>Barry's Profile</h1>
    </div>
</div>

<div class="container-fluid bg-3 text-left">
    <div class="row">
        <div class="col-md-3">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/d7/68/5a/d7685a8626965c9c5689e690b3fe7be4.jpg" height="250" width="250">
        </div>
        <div class="col-md-6 ">
            <p>Name</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Major</p>
            <p>Year</p>
            <p>Expected graduation</p>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Add Friend</button>
        </div>
    </div>
</div>