@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container text-center">
        <h1>My Profile</h1>
    </div>
</div>


<div class="container-fluid bg-3 text-left">
    <div class="row">
        <div class="col-md-4">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive">
        </div>
        <div class="col-md-4 ">
            <p>Account name</p>
            <p>name</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Major</p>
            <p>Year</p>
            <p>Expected graduation</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn">Edit profile</button>
            <button type="button" class="btn">Saved Schedules</button>
        </div>
    </div>
</div>

