
@{
    ViewBag.Title = "Threads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thread Title here</h2>
<button type="button" class="btn-info btn-lg pull-right">+Create a new thread</button> 

<div class="row">
    <div class="col-md-9">
        <h4><small>RECENT POSTS</small></h4>
        <h2>POST 1</h2>
        <button type="button" class="btn-danger pull-right"> Delete post</button> 
        <h5><span class="glyphicon glyphicon-time"></span> Post by John Smith, Sep 27, 2016.</h5>
        <br />
        <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah 
        </p>
    </div>
</div>

<br /> <br /> <hr /> <br /><br />

<div class="row">
    <div class="col-md-9">
        <h2>POST 2</h2>
        <button type="button" class="btn-danger pull-right"> Delete post</button> 
        <h5><span class="glyphicon glyphicon-time"></span> Post by Danny Doe, Sep 26, 2016.</h5>
        <br />
        <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
        </p>
    </div>
</div>

 <br /> <hr /> <br />

<h4>Your post</h4>
<form role="form">
    <div class="form-group">
        <textarea class="form-control" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>