
@{
    ViewBag.Title = "Threads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thread Title here</h2>

<div class="row">
    <div class="col-md-9">
        <h4><small>RECENT POSTS</small></h4>
        <h2>POST 1</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by John Smith, Sep 27, 2016.</h5>
        <br />
        <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah 
        </p>
    </div>
</div>

<br /><br /><br />

<div class="row">
    <div class="col-md-9">
        <h2>POST 2</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by Danny Doe, Sep 26, 2016.</h5>
        <br />
        <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
        </p>
    </div>
</div>